<% include head.ejs %>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <img src="img/logo.png"><br/>
                <h3 class="title is-2">
                    WELCOME TO THE AKATSUKI
                </h3>
                <a class="is-dark" href="/sign_in"> Sign In</a> | <a class="is-dark" href="/sign_up"> Sign Up</a>
            </div>
        </div>
    </section>
    <% include foot.ejs %>