<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" />
    <title></title>
  </head>
  <body>
    <div class="tabs is-centered is-large">
  <ul>
    <li><img src="../public/img/logo_akatsuki.png">
    <li><a href="../views/home.html">Home</a></li>
    <li><a href="../views/profile.html">Profile</a></li>
    <li><a>Modules</a></li>
    <li><a>Messenger</a></li>
    <li><a href="../views/signin.html">Logout</a></li>
  </ul>
</div>
<div class="hero-body ">
   <div class="container has-text-centered ">
     <h1 class="title">
       Profil <br/>
       Informations
       My name is ..., my username is ...and my e-mail is ...
     </h1>
     <h2 class="subtitle">
       Talk is cheap. show me the code. Linus Torvald
     </h2>
   </div>
 </div>
  </body>
</html>
