<% include head.ejs %>
    <div id="profile-update">
        <nav class="navbar has-shadow nav-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/dashboard">
                        <p>akatsuki</p><img src="/img/logo.png" alt="log akatsuki">

                    </a>

                    <div class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-active">
                            <a class="navbar-link">
      Account
    </a>

                            <div class="navbar-dropdown">

                                <a class="navbar-item">
        Logout
      </a>
                                <hr class="navbar-divider">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="columns" id="mail-app">
            <aside class="column is-2 aside hero is-fullheight nav-fixed-left">
                <div>
                    <div class="compose has-text-centered">
                        <a class="is-block is-bold">
                            <h1>PROFILE - UPDATE</h1>
                        </a>
                    </div>
                    <figure class="image is-128x128">
                        <img src="/img/sharingan.png">
                    </figure>
                    <div class="main">
                        <a href="#" class="item"><span class="icon"><i class="fa fa-inbox"></i></span><span class="name">Home</span></a>
                        <a href="/profil/ben" class="item active"><span class="icon"><i class="fa fa-user"></i></span><span class="name">Profile</span></a>
                        <a href="#" class="item"><span class="icon"><i class="fa fa-envelope-o"></i></span><span class="name">Messenger</span></a>
                        <a href="#" class="item"><span class="icon"><i class="fa fa-folder-o"></i></span><span class="name">Modules</span></a>
                    </div>
                </div>
            </aside>

            <!-- START ARTICLE FEED -->
            <section class="articles">
                <div class="column is-6 is-offset-3">

                    <!-- START PROMO BLOCK -->
                    <section class="hero promo-bg is-bold is-small promo-block">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    <i class="fa fa-bell-o"></i> Profil
                                </h1>
                                <h2 class="subtitle">
                                    Update your profile
                                </h2>
                            </div>
                        </div>
                    </section>
                    <!-- END PROMO BLOCK -->

                    <!-- START ARTICLE -->
                    <div class="card article">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-center">
                                    <img src="/img/black.jpg" class="author-image" alt="Placeholder image">
                                </div>
                                <div class="media-content has-text-centered">
                                    <div class="box">
                                        <form method="post" action="/sign_up">
                                            <div class="field">
                                                <label class="label has-text-left">User Name</label>
                                                <div class="control">
                                                    <input name="username" class="input is-small" type="text" placeholder="First Name" autofocus="" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label has-text-left">First Name</label>
                                                <div class="control">
                                                    <input name="firstname" class="input is-small" type="text" placeholder="First Name" autofocus="" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label has-text-left">Last Name</label>
                                                <div class="control">
                                                    <input name="lastname" class="input is-small" type="text" placeholder="Last Name" autofocus="" />
                                                </div>
                                            </div>

                                            <div class="field">
                                                <label class="label has-text-left">E-mail</label>
                                                <div class="control">
                                                    <input name="email" class="input is-small" type="mail" placeholder="E-mail" autofocus="" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label class="label has-text-left">Birthday</label>
                                                <div class="control">
                                                    <input name="birth" class="input is-small" type="date" placeholder="E-mail" autofocus="" />
                                                </div>
                                            </div>
                                            <input type="submit" value="Register" class="button is-block is-info is-small">
                                            <a href="" class="button is-outlined is-small">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END ARTICLE -->


                    <!-- START PROMO BLOCK -->
                    <section class="hero promo-bg is-bold is-small promo-block">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    <i class="fa fa-bell-o"></i> Profil
                                </h1>
                                <h2 class="subtitle">
                                    Update password
                                </h2>
                            </div>
                        </div>
                    </section>
                    <!-- END PROMO BLOCK -->

                    <!-- START ARTICLE -->
                    <div class="card article">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-center">
                                    <img src="/img/black.jpg" class="author-image" alt="Placeholder image">
                                </div>
                                <div class="media-content has-text-centered">
                                    <div class="box">
                                        <form method="post" action="/sign_up">

                                            <div class="field">
                                                <div class="control">
                                                    <label class="label has-text-left">New Password</label>
                                                    <input name="password" class="input is-small" type="password" placeholder="password" autofocus="" />
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="control">
                                                    <label class="label has-text-left">Confirm Password</label>
                                                    <input name="password" class="input is-small" type="password" placeholder="password" autofocus="" />
                                                </div>
                                            </div>
                                            <input type="submit" value="Register" class="button is-block is-info is-small">
                                            <a href="" class="button is-outlined is-small">Cancel</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END ARTICLE -->

                </div>
            </section>

        </div>


        <% include foot.ejs %>